@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dapper Sample</title>
</head>
<body>
    <div>
        <h1>Dapper Sample</h1>
      <ul>
        <li>@Html.ActionLink("dynamic型で受けるサンプル", "Index", "Dynamic")</li>
        <li>@Html.ActionLink("基本的なCRUD操作サンプル", "List", "BasicCRUD")</li>
        <li>@Html.ActionLink("トランザクションを使用するサンプル", "Index","Trans")</li>
        <li>@Html.ActionLink("ストアドを実行する", "Index", "StoredProc")</li>
        <li>@Html.ActionLink("ネストされたオブジェクトにマップするサンプル", "Index", "XXX")</li>
      </ul>
    </div>
    
</body>
</html>
